<div class="container py-4">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-orange"><b>About Us</b></h5>
            <p>
                Parfly is a delivery platform that connects businesses and
                individuals with drivers for fast and reliable delivery.
            </p>
        </div>
        <div class="col-md-4">
            <h5 class="text-orange"><b>Quick Links</b></h5>
            <ul class="list-unstyled">
                <li><a class="dropdown-item" href="#">Be a Partner Driver</a></li>
                <li><a class="dropdown-item" href="#">Get a Vehicle</a></li>
                <li><a class="dropdown-item" href="#">Fleet Management</a></li>
                <li>
                    <a class="dropdown-item" href="#">Driver Referral Program</a>
                </li>
            </ul>
        </div>
        <div id="contact" class="col-md-4">
            <h5 class="text-orange"><b>Contact Us</b></h5>
            <address>
                <strong>Parfly</strong><br />
                1234, Barangay Alijis<br />
                Bacolod City, Philippines<br />
                Phone: (123) 456-7890
            </address>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12 text-center">
            <p class="mb-0"><b>&copy; 2024 Parfly. All right reserved.</b></p>
        </div>
    </div>
</div>