<nav id="navbar" class="navbar navbar-expand bg-transparent">
    <div class="container-fluid">
        <a href="/client/index.html"><img src="/client/assets/img/logo.png" class="logo" alt="Parfly Logo" /></a>
        <a class="navbar-brand" href="/client/index.html">PARFLY</a>
        <button id="menu-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/client/pages/business.html">Business</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Personal</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Driver
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">Be a Partner Driver</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">Fleet Management</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <i class="fa-solid fa-globe"></i>
                    <a class="nav-link lang" href=""> Philippines - English</a>
                </li>

                <div class="d-flex align-items-center justify-content-center gap-4">
                    <li class="nav-item login-item">
                        <i class="bx bx-user"></i>
                        <a class="nav-link login" href="/admin/pages/dashboard.html">Log In</a>
                    </li>

                    <li class="nav-item signup-item">
                        <a class="nav-link signup" href="">Sign Up</a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>